$font-stack: "Roboto", sans-serif;
$title-color: #4e4e4e;
$menu-color: #565656;
$menu-back: #f5f5f5;
$menu-hover: #e5e5e5;
$footer-color: #fff;
$accent-color-blue: rgb(90, 8, 255);
$accent-color-green: rgb(46, 189, 46);
